@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobro došli na aplikaciju za naočale.</h1>
    <p> <img width="962" height="463" src="~/Slike/glasses-group-2.jpg"/></p>
</div>
